@using Tijarat.models;
@{
    ViewBag.Title = "ShoppingCart";
    List<CartProducts> r = (List<CartProducts>)Session["Cart"];
    int count = r.Count;
}

<style>
    .prod-img {
        margin: 20px;
        height: 100px;
        width: 180px;
        box-shadow: 0.25rem 0.125rem 10px grey;
        
    }

    #myMenu ul li a:hover {
        color: orange;
        transition: 0.03s all ease-in-out;
    }

    .register a i:hover {
        color: orange;
        transition: 0.03s all ease-in-out;
    }


    .logo-text {
        font-size: 4em;
        font-family: 'Ubuntu';
        font-weight: bold;
        letter-spacing: 15px;
        float: left;
        display: inline-block;
        margin-top: 5px;
        margin-left: 30px;
    }

    .logo-text a {
        text-decoration: none;
        color: orange;
        opacity: 0.8;
        transition: 0.03s all ease-in-out;
    }

    .logo-text a:hover{
        opacity: 1;
    }

    .logo-text-sm {
        color: slategrey;
        font-size: 0.5em;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: normal;
    }

    #myMenu {
        position: fixed;
        top: 0;
        left: 0;
        height: 40px;
        z-index: 70;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0.25rem 0.125rem 7px lightgrey;
        height: 80px;
        background-color: white;
    }

        #myMenu ul li {
            display: inline-block;
            margin-left: 30px;
            margin-top: 25px;
            float: left;
        }

            #myMenu ul li a {
                font-family: Roboto;
                font-size: 2.3em;
                text-decoration: none;
                color: slategrey;
            }

    .search-field {
        display: inline-block;
        float: left;
        margin-left: 30px;
        margin-top: 9px;
        font-size: 2em;
        border-radius: 25px;
        width: 50%;
        opacity: 0.75;
    }

    .register {
        margin-left: 95%;
        margin-top: 23px;
    }
    .shopping-wrap {
        margin-top: 100px;
        margin-left: 20px;
    }
</style>

<div id="myMenu">
    <p class="logo-text"><a href="/Home/Index">Tijarat<span class="logo-text-sm">.com</span></a></p>
    <ul>
        <li><a href="/Home/Categories">Categories</a></li>
        <li><a href="/Product/Products">Trending</a></li>
        <li><a href="/Home/Ads">Ads</a></li>
    </ul>
    <form action="../../Home/Search" method="get">
        <input name="product" class="form-control search-field" placeholder="Search" />
        <button type="submit" style="float: left; display: inline-block; font-size: 1.5em; margin-left: 5px; margin-right: 10px; margin-top: 10px" class="btn btn-outline-warning">Search</button>
    </form>
    <div class="register">
        <h5 style="float: left; margin-top: 5px ;margin-left: 15px; font-size: 1.5em">@Session["username"]</h5>
        @if (Session["access"] != null)
        {
            <form action="../../Registration/Logout" method="post">
                <button style="float: left; margin-left: 15px; font-size: 1.5em" type="submit" class="btn btn-primary">Log out</button>
            </form>
        }
        else
        {
            <a href="/registration/register"><i style="color:slategrey ;font-size: 2.3em" class="fas fa-user-circle"></i></a>
        }
    </div>
</div>
<div class="shopping-wrap">
    <h1>Shopping Cart</h1>
    @foreach (var product in r)
    {
        <div class="row">
            <div id="col-sm-3">
                <img src="@product.imgUrl" class="prod-img" />
            </div>
            <div id="col-sm-6">
                <h4>@product.name</h4>
                <h3>Price: @product.price</h3>
                <h3>Quantity: @product.qty</h3>
            </div>
            <div id="col-sm-3">
                <form action="../../product/RemoveItem" method="post">
                    <input name="id" style="display: none;" value="@product.id" />
                    <input name="qty" style="display: none;" value="@product.qty" />
                    <button style="margin-left: 50%" type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
        <hr />
    }
    @if (count > 0)
    {
        <form action="../../Product/CheckOut" method="post">
            <button style="font-size: 1.4em; padding: 20px;" class="btn btn-outline-info">Confirm Checkout</button>
        </form>
    }

</div>